# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/
book/_build/

# Env/Secrets
.env
.env.*
*.env

# OS
.DS_Store

# Node (if added later)
node_modules/

# Docker
*.local.yml

# Logs
*.log
